<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/style.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <ul class="nav">
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('login') }}">Log In</a></li>
        <li><a href="{{ url_for('register') }}">Register</a></li>
        <li><a href="{{ url_for('offers') }}">Offers</a></li>
        <li><a href="{{ url_for('offers') }}">Logout</a></li>
    </ul> 
    {% block body %}{% endblock %}
</body>
</html>