{% extends 'base.html' %}

{% block head %}
<title>New offer</title>
{% endblock %}

{% block body %}
<form action="/offers/new_offer/{{ User.id }}/" method="post">
    <div class="container">
        <h1>New offer</h1>
            <hr>
                <label for="title">Title</label>
                <input type="text" placeholder="Enter Title" name="title" required>

                <label for="description">Description</label>
                <input type="text" placeholder="Enter Description" name="description" required>

                <label for="price">Price</label>
                <input type="number" placeholder="Enter Price[$]" name="price" required>

            <hr>
            <button type="submit" class="registerid"><font size = "4">New Offer Submit</button>
        
    </div>
</form>
{% endblock %}