{% extends 'base.html' %}

{% block head %}
<title>Offers</title>
{% endblock %}
  
{% block body %}

  {% if user != None %}
  <button onclick="location.href='/offers/new_offer/{{ User.id }}/'" type="submit" 
    style="background-color: coral;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;border-radius: 4px;right: 70%" >
    <font size = "4">New Offer</button>
    {% endif %}
<p style="color: black;margin: 3%;">
  <font size="7">Offers</font></p>

<table>
  <tr>
    <th>TITLE</th>
    <th>DESCRIPTION</th>
    <th>PRICE</th>
    <th>DATE</th> 
  </tr>
  {% for offer in offers %}
  <tr>
    <td>{{ offer.title }}</td>
    <td>{{ offer.description }}</td>
    <td>{{ offer.price }}</td>
    <td>{{ offer.date }}</td>
    {% if User.id == offer.seller_id %}
    <form action="/{{ offer.id }}/delete/" method="post"><td><button>Delete</button></td></form>
    {% endif %}
  </tr>
  {% endfor %}
  
</table>
{% endblock %}